<!DOCTYPE html>
<html>
<head>
    <title>Food Menu</title>

    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/js/main_script.js"></script>
</head>
<body>

<div class="container">

    <h2>Food Menu</h2>

    <div class="card">

        <h3>Burger</h3>
        <p>₹150</p>

        <button
            class="btn"
            onclick="addToCart('Burger')">
            Add To Cart
        </button>

    </div>

    <div class="card">

        <h3>Pizza</h3>
        <p>₹300</p>

        <button
            class="btn"
            onclick="addToCart('Pizza')">
            Add To Cart
        </button>

    </div>

</div>

</body>
</html>
