*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-image: url(background.jpeg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

/* Navbar */

.navbar{
    background:#74b9ff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#fff3b0;
}

nav a{
    text-decoration:none;
    color:white;
    margin:0 15px;
    font-weight:bold;
}

.right-section{
    display:flex;
    gap:10px;
}

.search-box{
    width:220px;
    padding:10px;
    border:none;
    border-radius:5px;
}

.cart-btn{
    background:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

/* Hero */

.hero{
    text-align:center;
    padding:80px;
    background:white;
}

.hero h1{
    color:#00d2d3;
    font-size:55px;
}

.hero p{
    margin-top:15px;
    font-size:24px;
    color:#e17055;
}

/* Categories */

.categories{
    padding:40px;
}

.categories h2{
    margin-bottom:25px;
    font-size:36px;
}

.card-container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:350px;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.card img{
    width:220px;
    height:220px;
    object-fit:contain;
}

.card h3{
    margin-top:15px;
    font-size:28px;
}

.card p{
    margin-top:10px;
    color:gray;
}