<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <link rel="stylesheet" href="/static/css/main_style.css">

    <script src="/static/js/main_script.js"></script>
</head>
<body>

<div class="container">

    <h2>User Registration</h2>

    <form onsubmit="return validateRegister()">

        <input
            type="text"
            id="name"
            placeholder="Name"
        >

        <input
            type="email"
            id="email"
            placeholder="Email"
        >

        <input
            type="password"
            id="password"
            placeholder="Password"
        >

        <button class="btn">
            Register
        </button>

    </form>

</div>

</body>
</html>