<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link rel="stylesheet" href="/static/css/main_style.css">

    <script src="/static/js/main_script.js"></script>
</head>
<body>

<div class="container">

    <h2>User Login</h2>

    <form onsubmit="return validateLogin()">

        <input
            type="email"
            id="email"
            placeholder="Enter Email"
        >

        <input
            type="password"
            id="password"
            placeholder="Enter Password"
        >

        <button class="btn">
            Login
        </button>

    </form>

</div>

</body>
</html>